/*fuente de letras*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}

/*Inicio de seccion 1*/
.main{
    width: 100%;
}

.contenedor-1{
    width: 100%;
    height: 100vh;
    background-image: url(../fondo.jpg);
    background-position: center;
    background-size: cover;
}

.cabecera{
    background-color: black;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0));
    width: 100%;
    height: 150px;
    display: flex;
    overflow: hidden;
}

.logo{
    width: 20%;
    padding-left: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navegacion{
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
}

.link{
    color: #FFF;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
}

.link:hover{
    background-color:#FFF ;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
}

.banner{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items:center;
}

.banner__textos{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    color: #fff;
}

.banner__textos h1{
    font-size: 50px;
}

.banner__textos p{
    font-size: 36px;
    margin: 20px 0 75px 0;
}

.banner__textos a{
    background-color: #FFF;
    width: 50%;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: black;
    border-radius: 40px;
}

.banner__textos a:hover{
    background-color: #6f6f6f;
    color:#fff;
    transition: 0.5s;
}
/*fin de seccion 1*/

/*inicio de seccion 2*/
.contenedor-2{
    background-color: #222222;
    width: 100%;
    height: 80vh;   
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h2{
    font-size: 40px;
    margin: 10px 0;
}
.fotos{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.foto__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
    font-size: 22px;
}
.foto__img img{
    border-radius: 15px;
    object-position: 150px 0;
}
.foto__img h3, h4, h5{
    margin: 10px 0;
    font-size: 22px;
}
/*fin de seccion 2*/

/*inicio de cartas*/
body{
    background-color: #222222;
}

.contenedor__cartas{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.carta:hover{
    width: 350px;
}

.carta .titulo{
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: #FFF;
}

.carta .arriba{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.carta .arriba img{
    width: 250px;
    position: relative;
    display: block;
    margin: auto;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.carta:hover .arriba img{
    top: 0px;
    filter: none;
}

.carta .img__back{
    width: 100%;
    height: 200px;
    bottom: -80px;
    left: 0;
    position: absolute;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.carta:nth-of-type(1) .img__back{
    background-image: url(../bg1.jpg);
}

.carta:nth-of-type(2) .img__back{
    background-image: url(../bg2.jpg);
}

.carta:nth-of-type(3) .img__back{
    background-image: url(../bg3.jpg);
}

.carta:hover .img__back{
    bottom: -40px;
}

.carta .descripcion{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.carta:hover .descripcion{
    padding: 40px;
}

.carta .descripcion h2{
    margin-top: 10px;
}

.carta .descripcion p{
    margin-top: 10px;
}

.carta .descripcion input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #6f6f6f;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.carta .descripcion input:hover{
    background: #6f6f6f;
    transition: 0.5s;
    color: black;
}



